# Компилированные исходники Java
*.class

# Логи
*.log

# Каталог целевой директории Maven
target/

# Каталог с настройками IDE
.idea/
*.iml

# Каталог с библиотеками
lib/

# Конфигурации среды разработки
*.ipr
*.iws
*.bak
*.swp

# Каталоги настроек IDE (Eclipse, IntelliJ)
*.project
*.classpath
.settings/

# Каталог сборки Gradle
build/

# Директория с временными файлами
tmp/

# Файлы, созданные операционной системой
.DS_Store
Thumbs.db

# JAR файлы
*.jar

# WAR файлы
*.war

# EAR файлы
*.ear
